body{
    background-color: black;
}
.motivaton-img{
    width: 100%;
    border: 5px solid white;
}
.poster{
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
}